html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: yellow;
  height: 10%;
}

#content {
  overflow: auto;
  background-color: orange;
  flex: 1;
}
